<div class="styleguide-example<%= unless section.raw then ' pending' end %>">
  <% if section.raw %>
    <h3><%= section.section %> <em><%= section.filename %></h3>
    <div class="styleguide-description">
      <%= section.description %>
    </div>
  <% else %>
    <h3><%= section.section %></h3>
    <p>
      Section <%= section.section %> has not yet been created. Please add documentation for this section.
    </p>
  <% end %>
</div>